# sample env file to be renamed to .env
# you commit this file as a sample of available env vars
# users locally modify it to suit needs
NODE_ENV=development
MYSQL_USER=nodejs
MYSQL_PASS=123456789
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=SubscriptionsAsAService
